

@media screen and (max-width: 1024px) {

.menu ul li{
	background: black;
}
.slider:before {
    font-size: 17px;
}

.slider:after {
    font-size: 36px;
}

.singup_menu a {
    width: 29%;
    margin-top: 10px;
    padding: 4px 2px;
    font-size: 21px;
}

.descr_title {
    font-size: 23px;
}

.content_text {
  font-size: 15px;
}

.blog_rating {
	padding-bottom: 15px;
}

.blog_average {
	justify-content: space-between;
	width: 38%;
	text-transform: uppercase;
}

.average {
	width: 60%;
}

.stars{
	display: flex;
	width: 40%;
	justify-content: flex-end;
}

.social_icons {
    width: 31%;
    justify-content: center;
}

.ul_latest_post li {
	flex-direction: column;
	align-items: center;
}

.ul_latest_post_title {
	width: 100%;
	text-align: center;
	margin-top: 5px;
}

.ul_latest_post li img {
	width: 70%;
}

.date__like {
justify-content: space-between;
}

.categories li a {
    font-size: 15px;
}

.categories li a span {
	font-size: 15px;
}

.content_user {
    font-size: 15px;
}

.title_media {
	font-size: 14px;
}

.footer_container__images-block {
	flex-basis: 49%;
}

.about_user {
    width: 75%;
}

.photo_machael {
    width: 22%;
}
}


@media screen and (max-width: 865px) { 

	.slider {
	 margin-top: 0px;
}

.slider:after {
	width: 33%;
	font-size: 28px;
}

.control_arrow span {
   font-size: 15px;
}

.singup_menu p {
  	text-align: center;
    width: 54%;
}

input[type="text"], 
input[type="email"] {
	width: 54%;
	margin-top: 10px; 
}

.singup_menu a {
	width: 54%;
	border-right:3px solid red;
	border-left:3px solid red;
}

.wrapper_blog {
	flex-direction:column;
}

.main_section {
    width: 100%;
}

.right_news_box {
    width: 100%;
}

.right_news_box .girl_img {
    display: block;
    width: 40%;
    margin:20px auto;
    margin-bottom: 0px;
    }

.right_news_box__img {
	display: block;
    width: 40%;
    margin:40px auto;
    margin-bottom: 40px;
}

.ul_latest_post {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ul_latest_post_title {
	margin-top: 15px;
}

.ul_latest_post_title_span {
	font-size: 16px;
}

.date__like span {
    font-size: 15px;
}

.ul_latest_post li {
    width: 48%;
    padding: 0;
    margin-top: 60px;
}


.ul_latest_post li img {
    width: 100%;
}

.ul_latest_post li:hover {
    transform: scale(1);
    cursor: pointer;
}

.right_news_box_media {
   margin-top: 40px;
}

.footer_container__about-blog, 
.footer_container__latest-tweets, 
.footer_container__follow-instagram, 
.footer_container__latest-comment {
    width: 100%;
    margin-top: 20px;
}


.footer_container__title {
		text-align: center;
		font-size: 20px;
}

.footer_container__text {
    font-size: 16px;
}

.footer_container__logo {
  font-size: 20px;
}

.footer_container__account, .footer_container_desc {
	font-size: 16px;
}
.footer_container__author {
	font-size: 15px;
}

.footer_container__text {
	font-size: 18px;
}
}

@media screen and (max-width: 865px) { 

header:before {
	height: 25%;
}

.rectangular_control {
    flex-direction: row;
    width: 8%;
    top: 80%;
 	right: 50%;
 	transform: translateX(50%);
    margin-right: 0px;
    margin-top: 0%;
    justify-content: space-between;
}

.rectangular_control label {
 	margin-top: 0;
}

.slider:before{
	top: 25%;
}

.slider:after {
	top: 32%;
    margin-top: 5px;
    font-size: 21px;
    line-height: 21px;
}

.control_arrow span {
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    text-transform: uppercase;
    font-size: 13px;
}

.control_arrow {
    align-items: center;
    display: flex;
    width: 25%;
    justify-content: space-between;
    flex-direction: row;
    position: absolute;
    top: 83%;
    right: 50%;
    transform: translate(50%, 0%);
    margin-right: 0px; 
    margin-top: 0%;
    }


.pre {
	transform: rotate(-90deg);
}

.nxt{
	transform: rotate(-90deg);
}

.singup_menu a {
	width: 100%;
}

.singup_menu p {
	margin-top: 10px;
	width: 100%;
}

input[type="text"], 
input[type="email"] {
	width: 100%;
}

.control_box label {
	width: 100%;
}

.right_news_box .girl_img {
	display: none;
}


.right_news_box__img{
	display: none;
}

.right_news_box_media {
	margin-top: 60px;
	margin-bottom: 20px;
}

.heading_text {
	display: none;
}

.blog_rating {
	flex-direction: column;
}

.blog_actions {
	width: 100%;
	justify-content:center;
}

.blog_average {
	width: 100%;
	justify-content:center;
}

.blog_average,.social_icons,.blog_actions {
	margin-top: 10px;
}

.average {
	width: 40%;
	text-align: right;
}
.stars {
	width: 40%;
	justify-content: flex-start;
}

.social_icons {
	width: 100%;
}

.right_news_box {
	margin-top: 20px;
}
}

@media screen and (max-width: 575px) {


.singup_menu p {
    margin-top: 21px;
}

.rectangular_control {
	width: 13%;
}
.slider:after {
	width: 100%;
    top: 32%;
    margin-top: 8px;
    font-size: 14px;
    line-height: 16px;
}

.social_items ul li a img {
    width: 15px;
    height: auto;
}

.slider:before {
    font-size: 12px;
}

 .photo_machael {
    width: 60%;
}

.about_user {
    width: 100%;
}
.name__all_posts {
	font-size: 14px;
}

.all_post {
	font-size: 14px;
}
.content_user {
    font-size: 13px;
}

.control_arrow {
    width: 50%;
}

.control_arrow {
	top: 65%;
 }

 .rectangular_control {
 	top: 60%;
 }

.social_items li {
    padding: 13px 10px 17px 10px;
}

.machael_beverly {
	flex-direction: column;
}

.media_item {
	width: 48%;
	margin-top: 4%;
}


.ul_latest_post li {
	width: 100%;
}

.content_text {
    font-size: 12px;
}

.content_user {
	    padding: 15px 10px;
}

.name__all_posts {
    padding: 10px 10px;
}

.user_photo:hover {
    transform: scale(1.0);
    border-radius: 0px;
    cursor: pointer;
}

.heshtag {
 font-size: 14px;
}
}

@media screen and (max-width:356px) {

.social_items ul li a img {
	width: 14px;
	height: auto;
}

.control_arrow {
	display: none;
}

.rectangular_control {
	top: 80%;
}

.slider:after {
	font-size: 12px;
	width: 40%;
}

.toggle_box {
    width: 36px;
   	height: 36px
   }

 .photo_machael {
    width: 100%;
}

.about_user {
    width: 100%;
}
.name__all_posts {
	font-size: 14px;
}

.all_post {
	font-size: 14px;
}
.content_user {
    font-size: 13px;
}

.media_item {
	width: 100%;
}
.container_boxx__img {
	justify-content: center;
	align-items: center;
  flex-direction: column;
}

.container_boxx__span {
	font-size: 12px;
}

.container_boxx__label {
	 width: 20px;
    padding: 0px 0px;
}

.container_boxx__subtitle-photo {
    width: 51%;
    height: auto;
}

.user_photo:hover {
    transform: scale(1.0);
    border-radius: 0px;
    cursor: pointer;
}

.comment {
	font-size: 12px;
}

.like {
	font-size: 12px;
}
.average {
	font-size: 12px;
}

.ul_latest_post_title_span {
	font-size: 14px;
}

.date__like span {
	font-size: 13px;
}

.social_icons ul li a i {
	font-size: 16px;
}

.author {
	font-size: 12px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.author_name:before {
    left: -24px;
    top: -2px;
}

.date_post:before {
	  left: -24px;
    top: -2px;
}

.descr_title {
    font-size: 17px;
}

.date_post {
	width: 50%;
	margin-top: 10px;
}
.author_name {
	width: 50%;
	margin-right: 0;
}
.heshtag {
    font-size: 11px;
}
.content_user {
	    padding: 15px 10px;
}

.name__all_posts {
    padding: 10px 10px;
}
}